.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    gap: 16px;

    & mat-form-field {
        width: 450px;
    }

    & .actions {
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
}